extends layout

block content
      .row
        h2  VShare Team 
        img(src='img/vshare.jpg', width='800')
        p
          .alert.alert-info
            strong Clockwise order
            | (* annotation means, these guys are not in picture)
      .row(style="margin-bottom:18px")
        .span2
            h4  이정길
            i.icon-headphones
            | DJ
        .span2
            h4  이호상
            | A.K.A 미남
        .span2
            h4  박정주
        .span2
            h4  황정섭
        .span2
            h4  이지현 
            i.icon-camera
            | 카메라 담당
        .span2
            h4  박종민
            i.icon-user
            | PL
      .row(style="margin-bottom:18px")
        .span2
            h4  *김진욱
            | 교회 오빠
        .span2
            h4  *장강원
            i.icon-glass
            | 술고래
