extends layout

block content
    .container.page
      .row
        h2 Change Log
        h4 log or record of changes made to a project
      .row
        .span4
          h3 August 03, 2012
        .span8
          h2 New release: r03
          p
            | Redesign using
            code Bootstrap
            | from twitter
      .row
        .span4
          h3 August 01, 2012
        .span8
          h2 New release: r02
          p 'Drag & Drop' file upload
          p Interactive Search function added
          p Synronized play within all clients
      .row
        .span4
          h3 July 29, 2012
        .span8
          h2 New release: r01
          p Connect remote clients using socket.io
          p Extracting audio ID3 tag using mediainfo
      .row
        .span4
          h3 July 22, 2012
        .span8
          h2 Hello.
          p Music Wall project started
