extends layout

block header
        link(rel='stylesheet', href='/css/list.css')

block script
        script(type='text/javascript', src='js/list/list.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='js/audiojs/audio.js')
        script(type='text/javascript', src='js/upload/jquery.filedrop.js')
        script(type='text/javascript', src='js/notifier.js')
        script(type='text/javascript', src='js/script.js')
        script(type='text/javascript')
            var thumb_up;

block content
      #album_cover.carousel.slide
        .carousel-inner
        a.carousel-control.left(href='#album_cover', data-slide='prev') &lsaquo;
        a.carousel-control.right(href='#album_cover', data-slide='next') &rsaquo;
      .row-fluid
        .span6
          audio(preload)
          ol
            #music-list
              #playlist.well.sidebar-nav(style="height:300px; overflow:auto")
                ul.nav.nav-list.list
                    each music in Object.keys(musics)
                        li
                          span#music
                            a(href='#', data-src='musics/#{music}')
                              strong.title #{musics[music]}
                              small.artist 
                          span
                            i.icon-circle-arrow-up
                            i.icon-circle-arrow-down

              p(style="margin-top:18px;")
                 input.search(placeholder='Title Search')

        .span6
          #dropbox.hero-unit
            h2  Drop Files Here! 
            p
              You can simply upload music files using drag and drop or also you can select your own files from old-style dialog.
            p
              a.btn.btn-primary(data-toggle='modal', href='#uploadModal', id='modalBtn') Select Files
              #uploadModal.modal.hide
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h3 Upload Files
                    span.badge.badge-success(style="margin-left:10px;") 0
                .modal-body
                  .progress.progress-striped.active
                      .bar(style='width: 0%;')
                  ul.nav
                .modal-footer
                  a.btn.btn-primary(href='#', data-dismiss='modal') Close

          .alert.alert-block
            a.close(data-dismiss='alert', href='#') ×
            h4.alert-heading Warning!
            | Please select under 10mb size files each.
