!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title Music-wall
        meta(content='width=device-width, initial-scale=0.6', name='viewport')
        link(rel='stylesheet', href='/css/audio.css')
        script(type='text/javascript', src='js/jquery.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='js/audiojs/audio.js')
        script(type='text/javascript', src='js/audiojs/script.js')
      body
        #wrapper
          h1
            | Syncronized Music Player
            em (Music-Wall)
          audio(preload)
          ol
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/01-dead-wrong-intro.mp3') dead wrong intro
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/02-juicy-r.mp3') juicy-r
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/03-its-all-about-the-crystalizabeths.mp3') it's all about the crystalizabeths
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/04-islands-is-the-limit.mp3') islands is the limit
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/05-one-more-chance-for-a-heart-to-skip-a-beat.mp3') one more chance for a heart to skip a beat
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/06-suicidal-fantasy.mp3') suicidal fantasy
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/07-everyday-shelter.mp3') everyday shelter
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/08-basic-hypnosis.mp3') basic hypnosis
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/09-infinite-victory.mp3') infinite victory
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/10-the-curious-incident-of-big-poppa-in-the-nighttime.mp3') the curious incident of big poppa in the nighttime
            li
              a(href='#', data-src='http://s3.amazonaws.com/audiojs/11-mo-stars-mo-problems.mp3') mo stars mo problems
        #shortcuts
          div
            h1 Keyboard shortcuts:
            p
              em →
              | Next track
            p
              em ←
              | Previous track
            p
              em Space
              | Play/pause
