!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title 'Music-Wall'
        meta(content='width=device-width, initial-scale=0.6', name='viewport')
        link(rel='stylesheet', href='/css/audio.css')
        script(type='text/javascript', src='js/jquery.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='js/audiojs/audio.js')
        script(type='text/javascript', src='js/audiojs/script.js')
      body
        #wrapper
          h1
            | Syncronized Music Player
            em (Music-Wall)
          audio(preload)
          ol
            each music in Object.keys(musics)
                li
                  a(href='#', data-src='musics/#{music}') #{musics[music]}
        #shortcuts
          div
            h1 Keyboard shortcuts:
            p
              em →
              | Next track
            p
              em ←
              | Previous track
            p
              em Space
              | Play/pause
