!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title 'Music-Wall'
        meta(content='width=device-width, initial-scale=0.6', name='viewport')
        link(rel='stylesheet', href='/css/audio.css')
        script(type='text/javascript', src='js/jquery.js')
        script(type='text/javascript', src='js/list/list.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')
        script(type='text/javascript', src='js/audiojs/audio.js')
        script(type='text/javascript', src='js/audiojs/script.js')
      body
        #wrapper
          h1
            | Syncronized Music Player
            em (Music-Wall)
          audio(preload)
          ol
            #music-list
                ul.list
                    each music in Object.keys(musics)
                        li
                          a(href='#', data-src='musics/#{music}')
                             strong.title #{musics[music]}
                             small.artist

                p
                    input.search(placeholder='Title Search')
        #shortcuts
          div
            h1 Keyboard shortcuts:
            p
              em →
              | Next track
            p
              em ←
              | Previous track
            p
              em Space
              | Play/pause

        script(type='text/javascript')
            var options = { valueNames: [ 'title', 'artist' ] };
            var musicList = new List('music-list', options);
