extends layout

block content
    - if(images.length)
    ul
        - images.forEach(function(image){
            li
                p Upload image name is  #{image.name} and Size is #{image.size}kb
                img(src='/upload/'+image.name)
        - })